<meta property="og:title" content="{{ .Title }}">
<meta property="og:description" content="{{ with .Description }}{{ . }}{{ else }}{{if .IsPage}}{{ .Summary }}{{ else }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ end }}{{ end }}">
<meta property="og:type" content="{{ if .IsPage }}article{{ else }}website{{ end }}">
<meta property="og:url" content="{{ .Permalink }}">
{{ with .Params.images }}{{ range first 6 . }}
<meta property="og:image" content="{{ . | absURL }}">
{{ end }}{{ end }}

{{ if .IsPage }}
<meta property="article:section" content="{{ .Section }}">
{{ with .Params.tags }}{{ range . }}
<meta property="article:tag" content="{{ . }}">
{{ end }}{{ end }}
{{ if isset .Params "date" }}
<meta property="article:published_time" content="{{ time .Date }}">
{{ end }}
{{ if isset .Params "lastmod" }}
<meta property="article:modified_time" content="{{ time .Lastmod }}">
{{ end }}
{{ end }}

<!-- Twitter Cards -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="{{ .Title }}">
<meta name="twitter:description" content="{{ with .Description }}{{ . }}{{ else }}{{if .IsPage}}{{ .Summary }}{{ else }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ end }}{{ end }}">
{{ with .Params.images }}{{ range first 1 . }}
<meta name="twitter:image" content="{{ . | absURL }}">
{{ end }}{{ end }}