{{ $cfg := partial "func/defaults" . }}
{{ $related := .Site.RegularPages.Related . | first $cfg.single.relatedCount }}
{{ with $related }}
<section class="related-posts">
  <h3 class="related-title">{{ i18n "relatedPosts" }}</h3>
  <div class="related-grid">
    {{ range . }}
    <div class="related-card">
      <a href="{{ .RelPermalink }}">
        <h4 class="related-card-title">{{ .Title }}</h4>
        <time class="related-card-date" datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "Jan 2, 2006" }}</time>
      </a>
    </div>
    {{ end }}
  </div>
</section>
{{ end }}