{{ define "main" }}
{{ $sidebarPosition := .Params.sidebar.position | default .Site.Params.sidebar.globalPosition | default "right" }}

<div class="container site-main">
  <header class="page-header">
    <h1>{{ .Title }}</h1>
    {{ with .Content }}
      <div class="page-content">
        {{ . }}
      </div>
    {{ end }}
  </header>

  <div class="layout-grid {{ if and (ne $sidebarPosition "off") (ne $sidebarPosition "bottom") }}layout-grid--sidebar-{{ $sidebarPosition }}{{ end }}">
    <div class="main-content {{ if eq $sidebarPosition "left" }}main-content--sidebar-left{{ end }}">
      <div class="post-list">
        {{ $paginator := .Paginate .Pages }}
        {{ range $paginator.Pages }}
          {{ partial "post/list-item-default.html" . }}
        {{ end }}
      </div>
      {{ partial "pagination.html" . }}
    </div>

    {{ if and (ne $sidebarPosition "off") (ne $sidebarPosition "bottom") }}
      {{ partial "sidebar.html" (dict "context" . "widgetSidebarPosition" $sidebarPosition )}}
    {{ end }}
  </div>
</div>
{{ end }}
