{{- with .Site.Params.analytics -}}
  {{- if eq .provider "google" -}}
    {{- with .id -}}
      <script async src="https://www.googletagmanager.com/gtag/js?id={{ . }}"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '{{ . }}');
      </script>
    {{- end -}}
  {{- else if eq .provider "goatcounter" -}}
    {{- with .id -}}
      <script data-goatcounter="https://{{ . }}.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script>
    {{- end -}}
  {{- else if eq .provider "plausible" -}}
    {{- with .domain | default $.Site.BaseURL -}}
      <script defer data-domain="{{ . }}" src="https://plausible.io/js/script.js"></script>
    {{- end -}}
  {{- else if eq .provider "umami" -}}
    {{- with .id -}}
      <script defer src="https://cloud.umami.is/script.js" data-website-id="{{ . }}"></script>
    {{- end -}}
  {{- end -}}
{{- end -}}
