<nav aria-label="breadcrumb">
  <ol class="breadcrumb" itemscope itemtype="https://schema.org/BreadcrumbList">
    <li class="breadcrumb-item" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
      <a href="{{ .Site.Home.RelPermalink }}" itemprop="item">
        <span itemprop="name">
          {{ i18n "home" | default "Home" }}
        </span>
        <meta itemprop="position" content="1" />
      </a>
    </li>
    {{ $counter := 1 }}
    {{- range .Ancestors.Reverse -}}
      {{- if ne .Permalink .Site.Home.Permalink -}}
        {{ $counter = add $counter 1 }}
        <li class="breadcrumb-item" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
          <a href="{{ .RelPermalink }}" itemprop="item">
            <span itemprop="name">
              {{ .Title }}
            </span>
            <meta itemprop="position" content="{{ $counter }}" />
          </a>
        </li>
      {{- end -}}
    {{- end -}}
    <li class="breadcrumb-item" aria-current="page" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
      <a href="{{ .RelPermalink }}" itemprop="item">
        <span itemprop="name">
          {{ .Title }}
        </span>
        {{ $counter = add $counter 1 }}
        <meta itemprop="position" content="{{ $counter }}" />
      </a>
    </li>
  </ol>
</nav>