{{ define "main" }}
<div class="container">
  <header class="page-header">
    <h1>{{ .Title | default "Search" }}</h1>
  </header>

  {{ if .Content }}
    <div class="page-content">
      {{ .Content }}
    </div>
  {{ end }}

  {{ $searchEngine := .Site.Params.ui.searchEngine | default "fuse" }}

  {{ if eq $searchEngine "fuse" }}
    {{/* Fuse.js Search UI */}}
    <input type="search" id="fuse-search-input" placeholder="Search for articles..." class="search-input">
    <div id="fuse-search-results" class="search-results"></div>

    <script src="https://cdn.jsdelivr.net/npm/fuse.js@6/dist/fuse.min.js" defer></script>
    {{ $fuseJS := resources.Get "js/search-fuse.js" | resources.Minify }}
    <script src="{{ $fuseJS.RelPermalink }}" defer></script>

  {{ else if eq $searchEngine "pagefind" }}
    {{/* Pagefind Search UI */}}
    <div id="pagefind-search"></div>

    {{ $js := resources.Get "js/search-pagefind.js" | resources.Minify }}
    <script src="{{ $js.RelPermalink }}" defer></script>
    <link href="/pagefind/pagefind-ui.css" rel="stylesheet">
  {{ end }}
</div>
{{ end }}