{{ define "main" }}
<div class="container">
  <header class="page-header">
    <h1>{{ .Title }}</h1>
    {{ with .Content }}
      <div class="page-content">
        {{ . }}
      </div>
    {{ end }}
  </header>

  <div class="post-list">
    {{ $paginator := .Paginate .Pages }}
    {{ range $paginator.Pages }}
      <article class="post-list-item">
        <header>
          <h2 class="post-title"><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
          <div class="post-meta">
            {{ with .Date }}
              <span>
                {{ partial "icons/calendar.html" }}
                <time datetime="{{ .Format "2006-01-02T15:04:05Z07:00" }}">{{ .Format ($.Site.Params.dateFormat | default "Jan 2, 2006") }}</time>
              </span>
            {{ end }}
          </div>
        </header>
        {{ if $.Site.Params.list.showExcerpt | default true }}
          <div class="post-excerpt">
            {{ $summary := "" }}
            {{ if .Summary }}
              {{ $summary = .Summary }}
            {{ else }}
              {{ $summary = .Plain | truncate ( $.Site.Params.list.excerptLength | default 150 ) }}
            {{ end }}
            {{ $summary | safeHTML }}
          </div>
        {{ end }}
        <a href="{{ .RelPermalink }}" class="read-more">{{ i18n "readMore" }} &rarr;</a>
      </article>
    {{ end }}
  </div>

  {{ partial "pagination.html" . }}
</div>
{{ end }}
